<!DOCTYPE html>
<html lang="es">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<head>
		<title>Mi Portafolio</title>
		<meta charset="UTF-8"/>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,300,700,400' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="../static/css/estilos.css">
		<link rel="stylesheet" href="../static/css/normalize.css">
	</head>
	<body>

		<header id="yo" class="Header">
			<nav class="MainMenu">
				<ul class="MainMenu-list">
					<li class="MainMenu-item">
						<a class="MainMenu-link"href="#yo">Yo ^^</a>
					</li>
					<li class="MainMenu-item">
						<a class="MainMenu-link"href="#perfil">Perfil</a>
					</li>
					<li class="MainMenu-item">
						<a class="MainMenu-link"href="#trabajo">Trabajo</a>
					</li>

					<li class="MainMenu-item">
						<a class="MainMenu-link"href="#contacto">Contacto</a>
					</li>
				</ul>
			</nav>
			<figure class="Header-imageContaniner">
				<img src="../static/images/avatar.jpg" alt="avatar personal" class="Header-image"/>
				<figcaption class="Header-imagenDescription">
					<a class="Header-link" href="https://twitter.com/FernandoCeliis" target="_black">@FernandoCeliis
					</a>
				</figcaption>
				<p class="Header-name">Fernando Celis</p>
			</figure>
		</header>
		<section id="perfil" class="Profile">
			<h2 class="Profile-title u-title">Mi Perfil</h2>
			<p class="Profile-description">
				<strong>Hola!</strong> Ahora que <span class="Profile-span">estas</span> acá ve mi <em>portafolio ^^</em>
			</p>
			<a class="Profile-link" href="https://twitter.com/FernandoCeliis" target="_black">@FernandoCeliis</a>
			<a class="Profile-link" href="https://www.facebook.com/Fernando.celisdaza" target="_black">Fernando Celis</a>
			<a class="Profile-link" href="https://www.youtube.com/user/SHIELDHelll" target="_black">Fernando Celis</a>
		</section>
		<section id="trabajo" class="Work">
			<h2 class="Work-title u-title">Mi Trabajo</h2>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="../static/images/proyecto.jpg" alt="Es la descripción">
					<figcaption class="Work-description">Donde he estado
					</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="../static/images/proyecto.jpg" alt="Es la descripción">
					<figcaption class="Work-description">Donde he estado
					</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="../static/images/proyecto.jpg" alt="Es la descripción">
					<figcaption class="Work-description">Donde he estado
					</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="../static/images/proyecto.jpg" alt="Es la descripción">
					<figcaption class="Work-description">Donde he estado
					</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="../static/images/proyecto.jpg" alt="Es la descripción">
					<figcaption class="Work-description">Donde he estado
					</figcaption>
				</figure>
			</article>
		</section>
		<footer id="contacto" class="Footer">
			<div class="Footer-left">
			<h3 class="Footer-title">Contacto</h3>
			<p class="Footer-description">Si tienes sugerencias, comentarios o simplemente quieres hablar conmigo ponte en contacto con este formulario ^^</p></div>
			<form class="Footer-form">
				<input class="Footer-formInput" type"text" placeholder="Nombre"/>
				<input class="Footer-formInput" type="email" placeholder="Email"/>
				<textarea class="Footer-textarea" placeholder="Motivo"></textarea>
				<button class="Footer-formButton" type="submit"> Contactarme </button>
			</form>

		</footer>
	</body>



</html>